{% extends 'base.twig' %}

{% block title %}Home Page{% endblock %}

{% block header %}
    <h1>Welcome to the Home Page</h1>
{% endblock %}

{% block content %}
    <p>{{ SayHello }}</p>
    <p>Name (uppercased): {{ 'Shayaan'|upper }}</p>
    {# Setting Up Variable #}
    {% set age = 33 %} 
    <p>Age: {{ age }}</p>
    <p>Description (trimmed): {{ description|trim }}</p>
    <p>Description (lowercased): {{ description|lower }}</p>
    <p>Current Date: {{ "now"|date("Y-m-d") }}</p>

    {% if score >= 90 %}
        <p>Grade: A</p>
    {% elseif score >= 80 %}
        <p>Grade: B</p>
    {% elseif score >= 70 %}
        <p>Grade: C</p>
    {% else %}
        <p>Grade: F</p>
    {% endif %}

    <ul>
        {% for item in items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% endblock %}
