<!DOCTYPE html>
<html {{ language_attributes }}>
<head>
    <meta charset="{{ bloginfo('charset') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ bloginfo('name') }}</title>
    {{ wp_head() }}
</head>
<body>
    <h1>{{ SayHello }}</h1>
    {{ wp_footer() }}
</body>
</html>
